
<div id="main-container">
<h2>Posts</h2>
{{#each posts}}
<div id="container-post" class="page-bg">
<small>{{dataValues.createdAt}}</small>
<h2>{{dataValues.title}}</h2>
<P>{{dataValues.content}}</P>
 <a href="/delete/{{dataValues.id}}"><button>Excluir</button></a>
<br>
</div>
{{/each}}

</div>