<h1>Posts Publicados:</h1>

{{#each posts}}
<small>{{dataValues.createdAt}}</small>
<h2>Título: {{dataValues.title}}</h2>
<P>{{dataValues.content}}</P>
 <a href="/delete/{{dataValues.id}}"><button>Deletar</button></a>
<br>
<hr>
{{/each}}