<form id="login-form" class="page-bg">
    <h2>LOGIN</h2>
    <input type="text" name="title" placeholder="User"><br><br>
     <input type="text" name="title" placeholder="Password"><br>
     <button type="submit">ENTRAR</button>
</form>
